{% extends 'base.html' %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password">
        <button type="submit">Login</button>
    </form>
{% endblock %}