<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link " href="#">Home</a>#}
                {#                </li>#}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in categories %}
                            <!--                        <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>-->
                            {% if not category.parent_category %}
                                <li><a class="dropdown-item text-light bg-dark"
                                       href="{% url 'category_details' category.id %}"><b>{{ category.name }}</b></a>
                                </li>
                                {% for subcateg in categories %}
                                    {% if subcateg.parent_category == category %}
                                        <li><a class="dropdown-item text-light bg-dark"
                                               href="{% url 'category_details' subcateg.id %}">&nbsp;&nbsp;{{ subcateg.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        <!--                        <li><a class="dropdown-item" href="#">Action</a></li>-->
                        <!--                        <li><a class="dropdown-item" href="#">Another action</a></li>-->
                        <!--                        <li>-->
                        <!--                            <hr class="dropdown-divider">-->
                        <!--                        </li>-->
                        <!--                        <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                    </ul>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'admin_page' %}">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
                </li>
                {% if request.user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout, {{ request.user.username }}</a>
                    </li>
                {% endif %}
            </ul>
            <a href="{% url 'open_cart' %}" class="btn btn-primary me-2" type="submit">Cart</a>
            <form class="d-flex" action="{% url 'search' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="user_search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
