<div class="container-xl">
    <h3>{{ title }}</h3>
    <div class="row">
        {% for product in products %}
            <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }} lei</p>
                    <a href="#" class="btn btn-primary m-1">Add to cart</a>
                    <a href="{% url 'product_details' product.id %}" class="btn btn-secondary m-1">Product details</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>