{% extends 'base.html' %}

{% block title %} Admin page {% endblock %}
{% block body %}

    {% if perms.products.view_category %}
        <a class="btn btn-primary" href="{% url 'category_all_view' %}" role="button">List Categories</a>
    {% endif %}

    {% if perms.products.add_category %}
        <a class="btn btn-success" href="{% url 'category_create' %}" role="button">Create Category</a>
    {% endif %}

    {% if perms.products.view_product %}
        <a class="btn btn-outline-primary" href="{% url 'product_all_view' %}" role="button">List Products</a>
    {% endif %}

    {% if perms.products.add_product %}
        <a class="btn btn-outline-success" href="{% url 'product_create' %}" role="button">Create Product</a>
    {% endif %}
    {% if request.user.is_staff %}
        <a class="btn btn-dark" href="{% url 'admin_page' %}" role="button">Home admin</a>
    {% endif %}
    {#    <a class="btn btn-primary" href="{% url 'article_update' %}" role="button">Update article</a>#}
    {#    <a class="btn btn-primary" href="{% url 'article_delete' %}" role="button">Delete article</a>#}

    {% block admin_content %}{% endblock %}
{% endblock %}