{% extends 'base.html' %}
{% load static %}

{% block body %}
    {% include 'partials/title_and_products_block.html' with title='Last products' products=last_products %}
    <div class="container-xl">
        <h3>Carusel</h3>
        <div class="row" style="height: 500px; width: 500px">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for carusel_product in carusel_products %}
                        <div class="carousel-item {% if forloop.first == 1 %}active{% endif %}" data-bs-interval="5000">
                            <img src="{{ carusel_product.image.url }}" class="d-block w-100" alt="...">
                        </div>
                    {% empty %}
                        <div class="carousel-item active" data-bs-interval="5000">
                            <img src="{% static 'not_available.png' %}" class="d-block w-100" alt="...">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
