<!--Section: Block Content-->
{% extends 'base.html' %}

{% block body %}
    <div class="container-xl">
        {% for cart_item_with_total in open_cart_items_with_totals %}
            <div class="row">
                <div class="card border-primary mb-1" style="max-width: 50rem;">
                    <div class="card-header"><h5><b>{{ cart_item_with_total.cart_item.product.name }}</b></h5></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img src="{{ cart_item_with_total.cart_item.product.image.url }}" class="card-img "
                                     alt="{{ cart_item_with_total.cart_item.product.name }}">
                            </div>
                            <div class="col-3">
                                <p><b>Pret: {{ cart_item_with_total.cart_item.product.price }} Lei</b></p>

                            </div>
                            <div class="col-3">
                                <p><b>Buc: {{ cart_item_with_total.cart_item.quantity }}</b></p>

                            </div>
                            <div class="col-3">
                                <p><b>Total: {{ cart_item_with_total.total}} Lei</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="card border-primary mb-1" style="max-width: 50rem;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                        </div>
                        <div class="col-3">
                            <p><b>Total comanda: {{ total_cart }} Lei</b></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
<!--Section: Block Content-->

{#<div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12">#}
{#                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">{{ product.name }}</h5>#}
{#                    <p class="card-text">{{ product.price }} lei</p>#}
{#                    <a href="#" class="btn btn-primary m-1">Add to cart</a>#}
{#                    <a href="{% url 'product_details' product.id %}" class="btn btn-secondary m-1">Product details</a>#}
{#                </div>#}
{#            </div>#}