{% extends 'pages/admin_page.html' %}

{% block title %} All products view {% endblock %}
{% block admin_content %}
    <div class="row">
        {% for product in products %}
            <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 border-primary border-2 mb-1 me-1"
                 style="max-width: 20rem;">
                <div class="card-header fw-bold">{{ product.name }}</div>
                <div class="card-body">
                    {% if perms.products.change_product %}
                        <a class="btn btn-primary btn-sm" href="{% url 'product_update' product.id %}" role="button">Update</a>
                    {% endif %}

                    {% if perms.products.change_product %}
                        <a class="btn btn-danger btn-sm" href="{% url 'product_delete' product.id %}" role="button">Delete</a>
                    {% endif %}

                    <a class="btn btn-secondary btn-sm" href="{% url 'product_details' product.id %}" role="button">Product
                        details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}