<!doctype html>
{% load static %}
<html lang="en" class="html_class">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="{% static 'style.css' %}">
    <style>


    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="body_class">
{% include 'partials/navbar.html' with categories=categories %} {# categories=este numele de variabila din Html-ul inclus(navbar.html), categories al doilea este numele de variabila din html-ul in care includem(base.html) #}
{% block body %}{% endblock %}
</body>
</html>